*.log
logs/*
!.gitkeep
.DS_Store
.idea
node_modules/
bower_components/
tmp
dist/
downloads/
package-lock.json
server/uploads/video/
*.old
knexfile.js
db
config

# test scripts
*.c
*.sh
shtest.js
pm2run.json
pm2_local_run.json
backuppkg.txt